.activeCircleElement circle,
.activeCircleElement rect,
.activeCircleElementellipse {
  fill: rgb(118, 118, 219);
  stroke: aqua;
  stroke-width: 2px;
}

.activeCircleElement text {
  fill: rgb(11, 47, 165);
  cursor: pointer;
  font-weight: bold;
}

.circleElement circle,
.circleElement rect,
.circleElement ellipse {
  fill: #fff;
  stroke: rgba(6, 0, 65, 0.849);
  stroke-width: 2px;
}

.circleElement text {
  fill: rgb(93, 149, 151);
  cursor: pointer;
}
