.adminPanelContainer {
  background-color: #e1e8ed;
  height: 100vh;
  width: 100%;
  background-image: url("../../images/logo.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 500px;
}